<!DOCTYPE html>
<html>
<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" crossorigin="anonymous">
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Tutoriel</a>
    <ul class="nav navbar-nav">
        {# Appelle la fonction activeClass() qui est définit 
        dans MonExtension.php #}
        <li class="nav-item {{ activeClass('home') }}">
            <a href="index.php?p=home" class="nav-link">Home</a>
        </li>
        <li class="nav-item {{ activeClass('contact') }}">
            <a href="index.php?p=contact" class="nav-link">Contact</a>
        </li>
    </ul>
</nav>

<div class="container">
    {# On définit le bloc content dont le contenu entre les balises
    sera soit remplacer, soit surchargé par les enfants qui le définissent
    dans leur template #}
    {% block content %}{% endblock %}
</div>

<div class="container">
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
</body>
</html>